/.git
/.claude
/venv
/frontend/node_modules
/frontend/dist
/frontend/.env
/__pycache__
/**/*.pyc
/.env
/data
/notebooks
/SDXL
/tests
/deepfake_detector/outputs
/stylegan/outputs
/stylegan/inputs
/stylegan/celebrity_db
/checkpoints
/deepfake_detector/model.pt
/mlruns
/mlartifacts
/mlflow.db
/Projet_Deep_Learning_Python_1_ (1).pdf
/project-desc (styleGAN).md
