venv/
vendor/
checkpoints/*.pkl
mlruns/
stylegan/outputs/
!stylegan/outputs/
stylegan/outputs/*
!stylegan/outputs/a_young_woman_with_red_hair.png
stylegan/celebrity_db/
stylegan/inputs/
SDXL/outputs/
SDXL/ouputs/
!SDXL/ouputs/
SDXL/ouputs/*
!SDXL/ouputs/test_output_sdxl.png
__pycache__/
*.pyc
*.pth
.cache/
.env
deepfake-detector-main/
*.pdf
*.pt
mlartifacts/
