venv/
vendor/
checkpoints/*.pkl
mlruns/
mlflow.db
stylegan/outputs/
stylegan/celebrity_db/
stylegan/inputs/
SDXL/outputs/
__pycache__/
*.pyc
*.pth
.cache/
.env
deepfake-detector-main/
*.pdf
*.pt
mlartifacts/
